<div id="banner-{{ section.id }}">
    <div class="logos-slider-wrap">
        <h2 style="font-size: 28px !important; letter-spacing: normal;">{{ section.settings.bar_text }}</h2>
    </div>
</div>

{% schema %}
{
  "name": "Text bar (main)",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "bar_text",
      "label": "Bar text",
      "default": "Discover Something New in Every Box"
    }
  ],
  "presets": [
    {
      "name": "Text bar (main)"
    }
  ]
}
{% endschema %}
